<div class="row">
  <div class="col-lg-10">
    <p *ngIf="feedbackHistory.length == 0">No Feedbacks Yet.</p>

    <ng-container *ngIf="feedbackHistory.length > 0">
      <div class="row p-20" *ngFor="let item of feedbackHistory; let i = index">
        <div class="row">
          <div class="col-lg-1">
            <div
              class="row user-name"
              [ngStyle]="{ 'background-color': '#8a474' + i }"
            >
              <p class="white-fg name">
                {{ item.name.charAt(0).toUpperCase() }}
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">
              {{ item.name }}
            </div>
            <div class="row">
              {{ item.email }}
            </div>
            <div class="row">
              {{ item.mobile }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            {{ item.content }}
          </div>
        </div>
      </div></ng-container
    >
  </div>
  <div class="col-lg-2">
    <form
      #f="ngForm"
      class="row"
      name="feedback"
      (ngSubmit)="submitFeedback(f)"
    >
      <div class="row">
        <label for="name">Name</label>
      </div>
      <div class="row">
        <input
          class="w-100"
          placeholder="Enter Name"
          type="text"
          name="name"
          id="name"
          [(ngModel)]="useFeed.userName"
          required
          (blur)="validateName(f)"
        />
        <p class="red-fg" *ngIf="errors.nameError">
          Name should contain minimum 3 characters and ',- only.
        </p>
      </div>
      <div class="row mt-20">
        <label for="email">Email</label>
      </div>
      <div class="row">
        <input
          class="w-100"
          placeholder="Enter Email"
          type="email"
          email
          name="email"
          id="email"
          required
          [(ngModel)]="useFeed.userEmail"
          (blur)="validateEmail(f)"
        />
        <p class="red-fg" *ngIf="errors.emailError">Enter valid Email.</p>
      </div>
      <div class="row mt-20">
        <label for="mobile">Mobile</label>
      </div>
      <div class="row">
        <input
          class="w-100"
          placeholder="Enter Mobile Number"
          type="text"
          name="mobile"
          id="mobile"
          required
          [(ngModel)]="useFeed.userMobile"
          (blur)="validateMobile(f)"
        />
        <p class="red-fg" *ngIf="errors.mobileError">
          Mobile number should contain 10 digit and should be number only..
        </p>
      </div>
      <div class="row mt-20">
        <label for="content">Content</label>
      </div>
      <div class="row">
        <textarea
          [(ngModel)]="useFeed.userContent"
          required
          id="content"
          name="content"
          rows="4"
          cols="30"
          minlength="50"
        >
        </textarea>
        <p
          class="red-fg"
          *ngIf="
            f.form.controls.content?.errors?.minlength &&
            f.form.controls.content?.dirty &&
            f.form.controls.content?.touched
          "
        >
          Feedback should be atleast 50 characters long.
        </p>
      </div>
      <div class="row mt-20">
        <div class="w-100 mt-15" role="group" aria-label="button">
          <button
            type="submit"
            [disabled]="
              !f.valid ||
              errors.nameError ||
              errors.mobileError ||
              errors.emailError
            "
            class="btn btn-default"
          >
            Submit Feedback
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
